<div class='form-container'>
    <div class='forms'>
        <h2>Sign In</h2>

        <%= form_for @user, :url => url_for(controller: "sessions", action: "create") do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: 'example@email.com' %><br>
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: 'password' %><br>
            <%= f.submit 'Sign In'%>
        <% end %>
        <span class='not-signup-link'><%= link_to "Don't have an account? Sign Up", signup_path %></span>
    </div>
</div>