<div class='form-container'>
    <div class='forms'>
        <h2>Admin Sign In</h2>

        <%= form_for @admin, :url => url_for(controller: "sessions", action: "create_admin") do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: 'example@email.com', required: true %><br>
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: 'password', required: true %><br>
            <%= f.submit 'Sign In'%>
        <% end %>
    </div>
</div>