<div class='info-title'>
    <h1>Car Transmission</h1>
</div>
<div class='info-form'>
    <%= render :partial => 'layouts/errors', :locals => {object: @transmission} %>
    <%= form_for @transmission do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br>
        <%= f.submit 'CREATE', class: 'create-new-car-info' %>
    <% end %>
</div>