<div class='user-info-container'>
    <div class='user-info-password'>
        <h2>Change Password</h2>
        <%= form_for @user do |f| %>
            <%= f.label :new_password%>
            <%= f.password_field :password %><br>
            <%= f.label :confirm_password%>
            <%= f.password_field :password_confirmation %><br>
            <%= f.submit "UPDATE", class: 'update-user-password-btn'%>
        <% end %>
    </div>
</div>