<% @user_vehicles.each do |vehicle| %>
<div class='user-favorites-list-container'>
    <div class='user-favorites-list'>
            <ul>
                <li><%= vehicle.car_make.name %></li>
                <li><%= vehicle.car_model.name %></li>
                <li><%= vehicle.year %></li>
            </ul>
    </div>
        <div class='user-favorite-car-image'>
            <%= image_tag("car-images/#{vehicle.image}") %>
            <div class='user-favorites-car-list-btns'>
                <%= form_for vehicle, :url => url_for(controller: "user_vehicles", action: "remove"), method: 'Post' do |f| %>
                    <%= f.hidden_field 'id', value: "#{vehicle.id}" %>
                    <%= f.submit 'REMOVE FROM FAVORITES', class: 'remove-from-favs-btn' %>
                <% end %>
                <%= form_for vehicle, :url => url_for(controller: "user_vehicles", action: "checkout"), method: 'Post' do |f| %>
                    <%= f.hidden_field 'id', value: "#{vehicle.id}"%>
                    <%= f.submit 'BUY NOW', class: 'buy-now-btn' %>
                <% end %>
                    <button><%= link_to 'VIEW', vehicle_path(vehicle), class: 'view-button' %></button>
            </div>
        </div>
</div>
<hr>
<% end %>

