<div class='form-container'>
    <div class='forms'>
        <h2>Sign Up</h2>
        <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |msg| %>
                <%= msg %><br>
            <% end %>
        <% end%>

        <%= form_for @user do |f| %>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, placeholder: 'Ex. John' %><br>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, placeholder: 'Ex. Smith' %><br>
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: 'Example@email.com' %><br>
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: 'Password' %><br>
            <%= f.submit 'Submit' %>
        <% end %>
        <span class='signin-link'><%= link_to "Already have an account? Sign In", signin_path %></span>
    </div>
</div>