<h1>Car Fuel Type</h1>

<%= form_for @fuel_type do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :city_mpg %>
    <%= f.text_field :city_mpg %><br>
    <%= f.label :hwy_mpg %>
    <%= f.text_field :hwy_mpg %><br>
    <%= f.submit %>
<% end %>