<h1>Car Make</h1>

<%= form_for @car_make do |f| %>
    <%= f.label :name %>
    <%= f.text_field :id, list: "car_makes_autocomplete" %>
    <datalist id="car_makes_autocomplete">
        <% CarMake.all.each do |car_make| %>
            <option value="<%= car_make.name %>">
            <%= f.hidden_field :car_make_id, :value => "#{car_make.id}" %>
        <% end %>
    </datalist>
    <%= f.submit 'Create'%>
<% end %>