<div class='car-make-container'>
    <div class='car-makes'>
        <div class='car-search-types'>
            <%= form_tag('/searched_vehicles', method: :post, class: 'search-form') do %>
                <%= select_tag(:name, options_from_collection_for_select(CarMake.all, :name, :name), prompt: "Select Make") %>
                <%= submit_tag 'SEARCH'%>
            <% end %>
        </div>
        <div class='vehicle-list'>
            <% @economical.each do |vehicle_info| %>
                <% if vehicle_info.vehicle.is_purchased == false %>
                    <%= link_to vehicle_path(vehicle_info) do %>
                        <div class='vehicle-container'>
                            <ul>
                                <li><%= vehicle_info.vehicle.year %></li> |
                                <li><%= vehicle_info.vehicle.car_make.name %></li> |
                                <li><%= vehicle_info.vehicle.car_model.name %></li>
                            </ul>
                            <%= image_tag("car-images/#{vehicle_info.vehicle.image}", width: '100%', height: '750px') %>
                        </div>
                        <hr>
                    <% end %>
                <% end %>
            <% end %>
            <div class='paginate-container'>
                <%= will_paginate @economical %>
            </div>
        </div>
    </div>
</div>