<div class='edit-car-container'>
    <div class='edit-car-title'>
        <h1>Edit Vehicle</h1>
    </div>
    <div class='edit-car-info'>
    <div class='update-delete-vehicle-buttons'>
            <%= link_to 'Upload New Image', upload_image_path(@vehicle) %>
    </div>
        <div class='edit-car-form'>
            <%= form_for @vehicle do |f| %>
                    <%= f.label :year %>
                    <% counter = 1990 %>
                    <select name="vehicle[year]" id="vehicle_year_id">
                        <option><%= @vehicle.year %></option>
                        <% until counter == 2021 %>
                            <option value="<%=counter%>"><%= "#{counter}" %></option>
                            <% counter += 1 %>
                        <% end %>
                    </select><br>
                    <%= f.label :car_make %>
                    <%= f.collection_select(:car_make_id, CarMake.all, :id, :name, prompt: 'Select Make') %><br>
                    <%= f.label :car_model %>
                    <%= f.collection_select(:car_model_id, CarModel.all, :id, :name, prompt: 'Select Model') %><br>
                    <%= f.label :engine_type %>
                    <%= f.collection_select(:engine_type_id, EngineType.all, :id, :name, prompt: 'Select Engine Type') %><br>
                    <%= f.label :fuel_type %>
                    <%= f.collection_select(:fuel_type_id, FuelType.all, :id, :selection_name, prompt: 'Select Fuel Type') %><br>
                    <%= f.label :transmission %>
                    <%= f.collection_select(:transmission_id, Transmission.all, :id, :name, prompt: 'Select Transmission') %><br>
                    <%= f.label :engine_horsepower %>
                    <%= f.collection_select(:engine_id, Engine.all, :id, :engine_select, prompt: 'Select Engine Horsepower') %><br>
                    <%= f.fields_for :inventories do |inventory| %>
                        <%= inventory.label :price %>
                        <%= inventory.text_field :price, :value=> number_with_precision("#{@vehicle.inventories[0].price}", precision: 2) %>
                    <% end %>
                <div class='edit-action-btns'>
                    <%= f.hidden_field :vehicle, :value => @vehicle.id %>
                    <%= f.submit 'UPDATE VEHICLE'%>
                <% end %>
                <%= form_for @vehicle, method: 'Delete' do |f| %>
                    <%= f.submit 'DELETE VEHICLE', data: { confirm: "Are you sure you want to delete with vehicle?" }, class: 'delete-btn' %>
                <% end %>
            </div>
        </div>
    </div>
</div>