<div class='car-make-container'>
    <div class='car-makes'>
        <div class='car-search-types'>
            <%= select_tag(:name, options_from_collection_for_select(CarMake.all, :id, :name), prompt: "Select a Make") %>
            <%= select_tag(:name, options_from_collection_for_select(CarModel.all, :id, :name), prompt: "Select a Model") %>
            <%= select_tag(:name, options_from_collection_for_select(EngineType.all, :id, :name), prompt: "Select Engine Type") %>
        </div>
        <div class='vehicle-list'>
            <% @vehicles.each do |vehicle| %>
                <div class='vehicle-container'>
                    <ul>
                        <li><%= link_to vehicle.car_make.name, vehicle_path(vehicle) %></li>
                        <li><%= vehicle.year %></li>
                        <li><%= vehicle.car_model.name %></li>
                        <li><%= image_tag("car-images/#{vehicle.image}", width: '100px', height: '100px') %></li>
                    </ul>
                </div>
            <% end %>
        </div>
    </div>
</div>