<div class='add-new-car-container'>
    <div class='new-car-title'>
        <h1>Add From Existing Vehicle Data</h1>
    </div>    
            <div class='car-links'>
                <div class='links'>
                    <%= link_to 'New Car Make', new_car_make_path %>
                </div>
                <hr>
                <div class='links'>
                    <%= link_to 'New Car Model', new_car_model_path %>
                </div>
                <hr>
                <div class='links'>
                    <%= link_to 'New Engine Type', new_engine_type_path %>
                </div>
                <hr>
                <div class='links'>
                    <%= link_to 'New Fuel Type', new_fuel_type_path %>
                </div>
                <hr>
                <div class='links'>
                    <%= link_to 'New Transmission', new_transmission_path %>
                </div>
                <hr>
                <div class='links'>
                    <%= link_to 'New Engine', new_engine_path %>
                </div>
                <hr>
            </div>
            <div class='new-car-info'>
            <%= form_for @vehicle, :html => {:class => 'new-car-form'} do |f| %>
                <%= f.label :year %>
                <% counter = 1990 %>
                <select name="vehicle[year]" id="vehicle_year_id">
                    <option>Select Year</option>
                    <% until counter == 2021 %>
                        <option value="<%=counter%>"><%= "#{counter}" %></option>
                        <% counter += 1 %>
                    <% end %>
                </select>
                <br>
                <span><%= f.label :car_make %> <%= link_to 'Edit', car_makes_path %></span>
                <%= f.collection_select(:car_make_id, CarMake.all, :id, :name, prompt: 'Select Make') %><br>
                <span><%= f.label :car_model %> <%= link_to 'Edit', car_models_path %></span>
                <%= f.collection_select(:car_model_id, CarModel.all, :id, :name, prompt: 'Select Model') %><br>
                <span><%= f.label :engine_type %> <%= link_to 'Edit', engine_types_path %></span> 
                <%= f.collection_select(:engine_type_id, EngineType.all, :id, :name, prompt: 'Select Engine Type') %><br>
                <span><%= f.label :fuel_type %> <%= link_to 'Edit', fuel_types_path %></span>
                <%= f.collection_select(:fuel_type_id, FuelType.all, :id, :selection_name, prompt: 'Select Fuel Type') %><br>
                <span><%= f.label :transmissions %> <%= link_to 'Edit', transmissions_path %></span>
                <%= f.collection_select(:transmission_id, Transmission.all, :id, :name, prompt: 'Select Transmission') %><br>
                <span><%= f.label :engine_horsepower %> <%= link_to 'Edit', engines_path %></span>
                <%= f.collection_select(:engine_id, Engine.all, :id, :engine_select, prompt: 'Select Engine Horsepower') %><br>
                <%= f.fields_for :inventories do |inventory| %>
                    <%= inventory.label :price %>
                    <%= inventory.text_field :price %>
                <% end %>
                <%= f.submit 'Create Vehicle', class: 'new-car-submit' %>
            <% end %>
            </div>