<section class='car-info-container'>
    <div class='car-info-make'>
        <h1>
            <%= @vehicle.car_make.name %> |
            <%= @vehicle.car_model.name %>
        </h1>
    </div>
    <div class='car-image'>
        <% if @vehicle.image != nil %>
            <%= image_tag("car-images/#{@vehicle.image}", width: '100%', height: '750px') %>
        <% else %>
            <%= image_tag("http://placekitten.com/1768/750", width: '100%', height: '750px') %>
        <% end %>
    </div>
    <div class='car-info-text'>
        <p>MSRP: <%= number_to_currency(@vehicle.inventories[0].price) %></p>
        <p>Year: <%= @vehicle.year %></p>
        <p>Engine: <%= @vehicle.engine_type.name %></p>
        <p>Horsepower: <%= @vehicle.engine.horsepower %>hp</p>
        <p>Torque: <%= @vehicle.engine.torque %>ft-lbs</p>
        <p>Fuel Type: <%= @vehicle.fuel_type.name %></p>
        <p>City MPG: <%= @vehicle.fuel_type.city_mpg %></p>
        <p>Highway MPG: <%= @vehicle.fuel_type.hwy_mpg %></p>
        <p>Transmission: <%= @vehicle.transmission.name %></p>
        <%= form_for @vehicle, :url => url_for(controller: "user_vehicles", action: "create"), method: 'Post' do |f| %>
            <%= f.hidden_field 'id', value: "#{@vehicle.id}" %>
            <%= f.submit 'ADD TO FAVORITES', class: 'add-to-favs-btn' %>
        <% end %>
        <%= form_for @vehicle, :url => url_for(controller: "user_vehicles", action: "checkout"), method: 'Post' do |f| %>
            <%= f.hidden_field 'id', value: "#{@vehicle.id}"%>
            <%= f.submit 'BUY NOW', class: 'buy-now-btn' %>
        <% end %>
        <% if current_user.admin == true %>
            <%= form_for @vehicle, :url => url_for(controller: "vehicles", action: "edit"), method: 'Get' do |f| %>
                <%= f.hidden_field 'id', value: "#{@vehicle.id}"%>
                <%= f.submit 'UPDATE', class: 'update-btn' %>
            <% end %>
        <% end %>
    </div>
</section>