<section class='car-info-container'>
    <div class='car-info-make'>
        <h1>
            <%= @vehicle.car_make.name %> |
            <%= @vehicle.car_model.name %>
        </h1>
    </div>
    <div class='car-image'>
        <% if @vehicle.image != nil %>
            <%= image_tag("car-images/#{@vehicle.image}", width: '100%', height: '750px') %>
        <% else %>
            <%= image_tag("http://placekitten.com/1768/750", width: '100%', height: '750px') %>
        <% end %>
    </div>
    <div class='car-info-text'>
        <p>MSRP: <%= number_to_currency(@vehicle.inventories[0].price) %></p>
        <p>Year: <%= @vehicle.year %></p>
        <p>Engine: <%= @vehicle.engine_type.name %></p>
        <p>Horsepower: <%= @vehicle.engine.horsepower %>hp</p>
        <p>Torque: <%= @vehicle.engine.torque %>ft-lbs</p>
        <p>Fuel Type: <%= @vehicle.fuel_type.name %></p>
        <p>City MPG: <%= @vehicle.fuel_type.city_mpg %></p>
        <p>Highway MPG: <%= @vehicle.fuel_type.hwy_mpg %></p>
        <p>Transmission: <%= @vehicle.transmission.name %></p>
        <div class='action-btns'>
            <%= form_for @vehicle, :url => url_for(controller: "user_vehicles", action: "create"), method: 'Post' do |f| %>
                <%= f.hidden_field 'id', value: "#{@vehicle.id}" %>
                <%= f.submit 'ADD TO FAVORITES', class: 'add-to-favs-btn' %>
            <% end %>
            <%= form_for @vehicle, :url => url_for(controller: "user_vehicles", action: "checkout"), method: 'Post' do |f| %>
                <%= f.hidden_field 'id', value: "#{@vehicle.id}"%>
                <%= f.submit 'BUY NOW', class: 'buy-now-btn' %>
            <% end %>
            <% if logged_in? && current_user.admin == true %>
                <%= form_for @vehicle, :url => url_for(controller: "vehicles", action: "edit"), method: 'Get' do |f| %>
                    <%= f.hidden_field 'id', value: "#{@vehicle.id}"%>
                    <%= f.submit 'UPDATE', class: 'update-btn' %>
                <% end %>
            <% end %>
        </div>
    </div>
</section>

<% if @vehicle.reviews.present? %>
<section class='reviews'>
    <div class='review-header'>
        <h1>Reviews</h1>
        <button><%= link_to "COMMENT",  reviews_new_vehicle_path %></button>   
    </div>
    <hr>
        <% @vehicle.reviews.each do |review| %>
        <div class='review-action-container'>
            <p class='user-name'><%= review.user.first_name %> <%= review.user.last_name %></p>
            <div class='review-action-btns'>
                <%= form_for review, :url => url_for(controller: "reviews", action: "edit"), method: 'Get' do |f| %>
                    <%= f.hidden_field 'id', value: "#{review.id}"%>
                    <button><%= image_tag("https://img.icons8.com/ios-glyphs/16/000000/edit.png") %><% f.submit 'UPDATE', class: 'update-btn' %></button>
                <% end %>
                <%= form_for review, method: 'Delete' do |f| %>
                    <%= f.hidden_field 'vehicle_id', value: "#{review.vehicle.id}"%>
                    <button><%= image_tag("https://img.icons8.com/flat_round/16/000000/delete-sign.png") %><% f.submit 'DELETE', data: { confirm: "Are you sure you want to delete with vehicle?" }, class: 'delete-btn' %></button>
                <% end %>
            </div>
        </div>
        <div class='review-comment'>
            <%= review.comment %>
        </div>
        <% end %>
</section>
<% else %>
    <section class='reviews'>
    <div class='review-header'>
        <h1>Reviews</h1>
        <button><%= link_to "COMMENT",  reviews_new_vehicle_path %></button>   
    </div>
    <hr>
    <div class='no-comments'>
        <h3>Currently no comments for this car. :( Be the first to comment! :)</h3>
    </div>
</section>
<% end %>
