<div class='info-title'>
    <h1>Edit Car Model</h1>
</div>
<div class='info-form'>
    <%= form_for @car_model do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "UPDATE", class: 'create-new-car-info' %>
    <% end %>
    <%= form_for @car_model, method: 'Delete' do |f| %>
        <%= f.submit 'DELETE', class: 'delete-car-info' %>
    <% end %>
</div>