<!DOCTYPE html>
<html>
  <head>
    <title>Bizarre Car Dealership</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !logged_in? %>
      <%= render "layouts/navbar" %>
    <% else %>
      <%= render "layouts/signedin_nav" %>
    <% end %>
      <% flash.each do |msg| %>
        <%= msg %>
      <% end %>
    <%= yield %>
  </body>
</html>
