<!DOCTYPE html>
<html>
  <head>
    <title>Bizarre Car Dealership</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if logged_in? && current_user.admin == true %>
      <%= render "layouts/admin_navbar" %>
    <% elsif logged_in? && current_user.admin == false %>
      <%= render "layouts/signedin_nav" %>
    <% else %>
      <%= render "layouts/navbar" %>
    <% end %>
      <% flash.each do |msg| %>
        <%= msg %>
      <% end %>
    <div class='info-container'>
      <%= yield %>
    </div>
  </body>
</html>